/* common/utility */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

header {
    font-family: 'Poppins', sans-serif;

}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* nav-section */
.nav-container {
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
    top: 0px;
    display: flex;
}

.nav-partone h1 {
    width: 485px;
    height: 230px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 240px;

}

button {
    width: 168px;
    height: 44px;
    margin-left: 15px;
    background-color: #E02C6D;
    margin-top: 0px;
    padding: 10px 24px;

    margin-bottom: 100px;
}

.nav-partone button:hover {
    background-color: gray;
}

.nav-part-two {
    margin-top: 153px;
    margin-bottom: 86px;
    margin-right: 140px;
}

.nav-part-two img {
    width: 556.01px;
    height: 438px;
}

.nav-part-two img:hover {
    transform: rotate(360deg);
    transition: transform 3s;

}

/* main part */
/* photo gallery */
.container {
    margin-top: 70px;
}

.players-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 30px;
    margin-left: 180px;
    margin-right: 210px;
}

.players {
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

.player img {
    width: 300px;
    height: 256px;
    left: 0px;
    top: 0px;
}

.player-name {
    width: 300px;
    height: 154px;
    margin-left: 15px;
}

.player-name h3 {
    font-size: 28px;
    color: #18191F;
}

.player-name p {
    color: #6C6C6C;
    font-size: 16px;
}

/* highlights */
.best-highlights {
    display: flex;
}

.highlights {
    width: 300px;
    height: 200px;

    margin-left: 182px;
    margin-top: 100px;
}

.highlights span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
}

.highlights-image img {
    width: 567px;
    height: 427px;
    margin-left: 69px;
    margin-top: 80px;
    margin-right: 210px;
}

/* best goals
 */
.best-goals {
    width: auto;
    height: 500px;
    display: flex;
}

.goals {
    margin-top: 100px;
    margin-left: 182px;
}

.top-scorer-list {
    margin-top: 160px;
    margin-left: 130px;
    font-size: 14px;
    border: 2px solid lightcyan;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/* sponsors */
.sponsors {
    width: 900px;
    height: 213px;
    margin-left: 300px;
    border: 2px solid gray;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}

.sponsor h3 {
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: 380px;

}

.sponsors button {
    margin-left: 50px;
    border-radius: 20px;
}

/* footer */
.footer-container {
    width: 483.87px;
    height: 213px;
    margin-left: 475px;

}

.footer-container img {
    width: 483.87px;
    height: 110px;
}

.social-icon {
    width: 170px;
    height: 32px;
    right: 156.94px;
    margin-left: 156px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 14px;
    align-items: center;
}

.copy-right {
    width: 236px;
    height: 31px;
    margin-left: 123px;
}

/* media query */
@media only screen and (max-width:688px) {
    .nav-container {

        width: 360px;
        height: 695px;
        display: block;
        margin-top: 0px;

    }



    .nav-partone h1 {
        width: 278px;
        height: 138px;
        margin-left: 16px;
        padding-top: 30px;
        color: #FFFFFF;
        font-size: 36px;
        margin-bottom: 30px;
    }

    .nav-partone button {
        width: 168px;
        height: 44px;
        margin-top: 20px;
        margin-left: 19px;


    }

    .nav-part-two {
        margin-top: 200px;
        margin-left: 15px;
        margin-bottom: 70px;
        margin-right: 16px;
        width: 329px;
        height: 259.17px;


    }

    .nav-part-two img {
        width: 329px;
        height: 259.17px;


    }

    .players-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15px;
    }

    .best-highlights {
        display: block;
        margin-left: 0px;
    }

    .highlights {
        width: 100%;
        height: 200px;

        margin-left: 0px;
        margin-top: 0px;
    }

    .best-goals {
        width: 100%;
        height: 500px;
        display: block;
    }

    .goals {
        margin-top: 60px;
        margin-left: 15px;
    }

    .top-scorer-list {
        margin-left: 15px;
    }

    .sponsors {
        width: 100%;
        height: 213px;
        margin-left: 15px;
        border: none;
        margin-top: 300px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        margin-bottom: 200px;

    }

    .sponsor h3 {

        margin-left: 0px;

    }

    .sponsors button {
        margin-left: 0px;
        border-radius: 20px;
    }

    .footer-container {
        width: 100%;
        height: 213px;
        margin-left: 0px;

    }

    .footer-container img {
        width: 100%;
        height: 110px;
        margin-right: 10px;
    }

    .social-icon {
        width: 100%;
        height: 32px;


        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: repeat(4, 50px);
        grid-row-gap: 0px;
        align-items: center;
    }
}